<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drinks!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>AJAX Drink API</h1>
    <div id="main-container">
        <div>
            <img id="drink-image" style="..." src="" alt="">
        </div>
        <div id="info-container">
            <br />
            <button id="newDrinkButton"> New Drink </button>
            <p>Drink Name: <span id="drinkName"></span></p>
            <p>Alcoholic: <span id="alcoholic"></span></p>
            <p>Drink Category: <span id="drinkCategory"></span></p>
            <p>List of Ingredients: <span id="listOfIngredients"></span></p>
            <p>Instructions: <span id="instructions"></span></p>
        </div>
    </div>
</body>
</html>